<div>
    {{!-- <h3>Dashboard Page</h3> --}}
    <a href="/create">
        <button class="has-text-weight-bold button-style custom-font-ot3 text-shadow" id="create">Create New Post</button>
    </a>
</div>
<div>
    {{!-- {{#each}} --}}


</div>

<script src="/js/dashboard.js"></script>