<div class="row">
    <div class="">
            <h3 class="text-styling-main">Encounter</h3>
        <div class="column is-full is-justify-content-center">
            <h4 class="text-styling-v1">{{encounter.title}}</h4>
            {{!-- Add the picture here... --}}
            <div class="story-styling">
                <h6 class="text-styling-v2">{{encounter.content}}</h6>
            </div>
        </div>
            
    </div>

</div>