<div class="row">
    <div class="">
        <div class="column is-full card-flex is-justify-content-center">
            <h3 class="text-styling-main">Encounter</h3>
            <h4 class="text-styling">{{encounter.title}}</h4>
            <h6 class="text-styling">{{encounter.content}}</h6>
        </div>
            
    </div>

</div>