    {{!-- <div class="header">
        <h1>Hori<span class="seo">seo</span>n</h1>
        <div class="list">
            <ul class ="ul">
                <li>
                    <a href="#search-engine-optimization">Search Engine Optimization</a>
                </li>
                <li>
                    <a href="#online-reputation-management">Online Reputation Management</a>
                </li>
                <li>
                    <a href="#social-media-marketing">Social Media Marketing</a>
                </li>
            </ul>
        </div>
    </div> --}}

    {{!-- link button to url of theories.handlebars page -- use get and post routes to route this to that --}}

    <div class="Create Page Button">
        <button id = "enter" click = "Enter your Encounter()">submit</button>
    </div>

<div class="navbar bg-info">
    <a class="navbar-brand text-light p-3" href="/">Forums Page</a>
    <div class="icons">
        <button type="button" class="btn btn-outline-light btn-sm save-note">
        <span class="fas fa-save"></span>
        <span>Save Input</span>
        </button>
        <button type="button" class="btn btn-outline-light btn-sm new-note">
        <span class="fas fa-edit"></span>
        <span>New Entree</span>
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger clear-btn">
        <span class="fas fa-times"></span>
        <span>Clear Form</span>
        </button>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 list-container" id="list-container">
        <div class="card">
            <ul class="list-group" id="list-group"></ul>
</div>
        </div>
        <div class="col-8">
        <form class="note-form">
            <input
            class="note-title"
            placeholder="Note Title"
            maxlength="28"
            type="text"
            />
            <textarea class="note-textarea" placeholder="Note Text"></textarea>
            </form>
        </div>
    </div>
    </div>

    <div class="eerieExcerptsCard">
        <div class="divExcerpt">
    <a><p>Scary story blah blah blah</p></a></div>
    <div>
    <a><p>Eerie tale take 2</p></a></div>
    <div>
    <a><p>Whew we're back at it with the eeks</p></a></div>
    <div>
    <a><p>Boogidy Woogidy !! </p></a></div>
    <div>
    <a><p>Surprise ! It's a ghoul.</p></a></div>
    <div>
    <a><p>jk you are safe</p></a></div>
    <div>
    <a><p>ha - SIKE</p></a></div>
    <div>
        <a><p>actually that sike was a sike</p></a>
    </div></div>
