    <div class="column is-full is-flex is-justify-content-center">
        <a href="/theorize">
            <button class="has-text-weight-bold button-style custom-font-ot3 text-shadow" id="create">Log Your Theory</button>
        </a>
    </div>
    
    <div class="eerieTheoryCard">
        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>
    
        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div>

        <div class="divTheory">
            <a><p class="theoryText">
                [Theory title] <br />
                [@username] <br />
                [Theory excerpt here...]</p></a>
        </div></div>