<!-- Loop over each object in the projects array -->
<div class="row">
    <div class="column is-full card-flex is-justify-content-center">
        <div class="card card-sizing card-relative">
            <h3>{{mostRecentPost.title}}</h3>
            
        </div>
        <div class="card card-sizing card-relative">
            <h3>{{mostRecentPost.title}}</h3>
            
        </div>
    </div>
        <div class="column">
            
        </div>
    <div class="col">

    </div>
</div>