<!-- Loop over each object in the projects array -->
<div class="row">
    <div class="">
        <div class="column is-full card-flex is-justify-content-center">
            <a href="/encounter/{{mostRecentPost.id}}">
                <div id="recent-post" class="card card-sizing card-relative display-image-1">
                    <h3 class="text-styling-main">Most Recent Post:</h3>
                    <h4 class="text-styling-v1">{{mostRecentPost.title}}</h4>
                </div>
            </a>
            <a href="/encounter/{{mostUpVotedPost.id}}">
                <div id="upvoted-post" class="card card-sizing card-relative display-image-2">
                    <h3 class="text-styling-main">Most Up-Voted Post:</h3>
                    <h4 class="text-styling-v1">{{mostUpVotedPost.title}}</h4>
                </div>
            </a>
        </div>
    </div>
        {{!-- <div class="column">
            
        </div>
    <div class="col">

    </div> --}}
</div>